<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ticket.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

</div>
